* {
    box-sizing: border-box;
    font-family: Arial, system-ui;
  }
  
  /* laptops or desktops */
  
  #navbar {
    background-color: white;
    text-align: center;
  }
  
  @media (width >= 600px) { 
  
    #navbar {
      position: fixed;
      left: 0px;
      width: 180px;
      height: 100vw;
      border-right: solid 2px lightgrey;
    }
  
    main {
      margin-left: 180px;
    }
  
    #navbar > ul > li {
      display: block;
      padding: 10px;
    }
  
  }
  
  /* mobile or smaller viewport devices */
  @media (width <600px) {
    
    #navbar {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100vw;
      height: 100px;
      border-bottom: solid 2px lightgrey;
    }
    
    main {
      margin-top: 100px;
      margin-left: 0px;
    }
    
    #navbar > ul > li {
      display: inline-block;
      padding-right: 5px;
      padding-bottom: 5px;
    }
  }
  
  main {
    padding: 25px;
  }
  
  nav > header {
    font-size: 1.2em;
    padding-top: 10px;
  }
  
  .main-section > header {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px;
  }